* {
    box-sizing: border-box;
}

body {
    font-family: 'Tapestry', cursive;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

#img01 {
    background-image: url('./images/image01.png');
}

#img02 {
    background-image: url('./images/image02.png');
}

#img03 {
    background-image: url('./images/image03.png');
}

#img04 {
    background-image: url('./images/image01.png');
}

#img05 {
    background-image: url('./images/image02.png');
}